# SQL Company Data Model and Research Queries - Juan Moctezuma


This Jupyter Notebook represents the data model or Entity Relationship Diagram (ERD) of the author's fictitious company. The data model represents how the company's SQL (relational) database looks like. The database stores Expedia (flight information only) and Airbnb data on behalf of the fictitious low-cost third party. This fictional enterprise allows the user to book flights and/or reserve Airbnb listings throughout the non-existent “Expedia Airbnb App (EApp)” for a fraction of the cost. Please note that no GUI (Graphical User Interface), Front End, or Full Stack application was created; in addition, dummy data is was created with Python, every transaction is non-existent.

The first section contains the model along with a 'Symbols & Description' section. The second section contains SQL Queries describing how the database was built and the last section includes some research queries based on questions made by the author.

...

## 1. Data Model

<img src="Extra/PPT_PICTURES/Data_Model.png" width=75% height=75%>

<img src="Extra/PPT_PICTURES/Data_Model_Description_Header.png" width=20% height=20%>

<img src="Extra/PPT_PICTURES/Data_Model_Description.png" width=80% height=80%>

## 2. Database

In [ ]:
##-- This script creates a new database called 'JLMFCompany_DB' --
##-- This database (DB) is connected to the 'master' database --
USE master
GO

##-- This query will create a new DB if it doesn't exist already --
IF NOT EXISTS (
    SELECT [name]
        FROM sys.databases
        WHERE [name] = 'JLMFCompany_DB'
)

CREATE DATABASE JLMFCompany_DB
GO

In [ ]:
## AIRBNB BOOKING INFO. - TABLE
CREATE TABLE AIRBNB_BOOKING_DATA
(
    HOST_LOCATION_ID VARCHAR(30) NOT NULL UNIQUE,
    AIR_CONFIRMATION_ID VARCHAR(30) NOT NULL UNIQUE,
    TOTAL_GUESTS INT NOT NULL,
    HOST_ID_NO VARCHAR(30) NOT NULL,
    RATING_OVERALL DECIMAL(3,2) NOT NULL,
    BOOKING_ID VARCHAR(30) NOT NULL UNIQUE, 
)

In [ ]:
## AIRBNB RESERVATION DETAILS - TABLE
CREATE TABLE AIRBNB_RESERVATION_DETAILS
(
    LISTING_NAME VARCHAR(230) NOT NULL,
    AIR_CONFIRMATION_ID VARCHAR(30) NOT NULL UNIQUE,
    HOST_NM VARCHAR(230) NOT NULL,
    GUEST_NAME VARCHAR(230) NOT NULL,
    GUEST_ADULT_NO INT NOT NULL,
    GUEST_CHILDREN_NO INT NOT NULL,
    GUEST_INFANT_NO INT NOT NULL,
    REASON_TO_VISIT VARCHAR(300) NOT NULL,
    START_DT DATE NOT NULL,
    END_DT DATE NOT NULL,
    HOST_LOCATION_ID VARCHAR(30) NOT NULL UNIQUE
)

In [ ]:
## BOOKING DATA - TABLE
CREATE TABLE BOOKINGS
(
    BOOKING_ID VARCHAR(30) NOT NULL UNIQUE,
    BOOKING_CLASS VARCHAR(7) NOT NULL
)

In [ ]:
## CREDIT/DEBIT CARD INFO. - TABLE
CREATE TABLE CARD_DETAILS
(
    NM VARCHAR(230) NOT NULL,
    CARD_COMPANY VARCHAR(100) NOT NULL,
    CARD_NO VARCHAR(21) NOT NULL UNIQUE,
    EXPIRY VARCHAR(5) NOT NULL,
    CVV VARCHAR(3) NOT NULL,
    USR_ID VARCHAR(30) NOT NULL,
    BILLING_ADDRESS VARCHAR(400) NOT NULL,
    BILLING_CITY VARCHAR(100) NOT NULL,
    BILLING_STATE VARCHAR(100) NOT NULL,
    BILLING_COUNTRY VARCHAR(100) NOT NULL,
    BILLING_ZIP_CODE VARCHAR(10) NOT NULL
)

In [ ]:
## EXPEDIA PASSENGER DATA (5 people per reservation at most) - TABLE
CREATE TABLE EXPEDIA_PASSENGER_DATA
(
    PASSENGER_NAME VARCHAR(230) NOT NULL,
    BOOKING_ID VARCHAR(30) NOT NULL UNIQUE,
    EXP_E_TICKET_ID VARCHAR(80) NOT NULL UNIQUE,
    USER_NATIONALITY VARCHAR(100) NOT NULL,
    USER_PASSPORT_NO VARCHAR(70) NOT NULL UNIQUE,
    PASSENGER_2_NAME VARCHAR(230),
    EXP_E_TICKET_ID_2 VARCHAR(80) UNIQUE,
    PASSENGER_2_NATIONALITY VARCHAR(100),
    PASSPORT_NO_PASSENGER_2 VARCHAR(70) UNIQUE,
    PASSENGER_3_NAME VARCHAR(230),
    EXP_E_TICKET_ID_3 VARCHAR(80) UNIQUE,
    PASSENGER_3_NATIONALITY VARCHAR(100),
    PASSPORT_NO_PASSENGER_3 VARCHAR(70) UNIQUE,
    PASSENGER_4_NAME VARCHAR(230),
    EXP_E_TICKET_ID_4 VARCHAR(80) UNIQUE,
    PASSENGER_4_NATIONALITY VARCHAR(100),
    PASSPORT_NO_PASSENGER_4 VARCHAR(70) UNIQUE,
    PASSENGER_5_NAME VARCHAR(230),
    EXP_E_TICKET_ID_5 VARCHAR(80) UNIQUE,
    PASSENGER_5_NATIONALITY VARCHAR(100),
    PASSPORT_NO_PASSENGER_5 VARCHAR(70) UNIQUE,
    PASSENGER_2_NAME_M VARCHAR(230),
    EXP_E_TICKET_ID_2_M VARCHAR(80) UNIQUE,
    PASSENGER_2_M_NATIONALITY VARCHAR(100),
    PASSPORT_NO_PASSENGER_2_M VARCHAR(70) UNIQUE,
    PASSENGER_3_NAME_M VARCHAR(230),
    EXP_E_TICKET_ID_3_M VARCHAR(80) UNIQUE,
    PASSENGER_3_M_NATIONALITY VARCHAR(100),
    PASSPORT_NO_PASSENGER_3_M VARCHAR(70) UNIQUE,
    PASSENGER_4_NAME_M VARCHAR(230),
    EXP_E_TICKET_ID_4_M VARCHAR(80) UNIQUE,
    PASSENGER_4_M_NATIONALITY VARCHAR(100),
    PASSPORT_NO_PASSENGER_4_M VARCHAR(70) UNIQUE,
    PASSENGER_5_NAME_M VARCHAR(230),
    EXP_E_TICKET_ID_5_M VARCHAR(80) UNIQUE,
    PASSENGER_5_M_NATIONALITY VARCHAR(100),
    PASSPORT_NO_PASSENGER_5_M VARCHAR(70) UNIQUE,
    PASSENGER_2_NAME_I VARCHAR(230),
    EXP_E_TICKET_ID_2_I VARCHAR(80) UNIQUE,
    PASSENGER_2_I_NATIONALITY VARCHAR(100),
    PASSPORT_NO_PASSENGER_2_I VARCHAR(70) UNIQUE,
    PASSENGER_3_NAME_I VARCHAR(230),
    EXP_E_TICKET_ID_3_I VARCHAR(80) UNIQUE,
    PASSENGER_3_I_NATIONALITY VARCHAR(100),
    PASSPORT_NO_PASSENGER_3_I VARCHAR(70) UNIQUE,
    PASSENGER_4_NAME_I VARCHAR(230),
    EXP_E_TICKET_ID_4_I VARCHAR(80) UNIQUE,
    PASSENGER_4_I_NATIONALITY VARCHAR(100),
    PASSPORT_NO_PASSENGER_4_I VARCHAR(70) UNIQUE,
    PASSENGER_5_NAME_I VARCHAR(230),
    EXP_E_TICKET_ID_5_I VARCHAR(80) UNIQUE,
    PASSENGER_5_I_NATIONALITY VARCHAR(100),
    PASSPORT_NO_PASSENGER_5_I VARCHAR(70) UNIQUE
)

In [ ]:
## FLIGHT TICKET DATA - TABLE
CREATE TABLE EXPEDIA_PASSENGER_TICKETS
(
    FLIGHT_CONFIRMATION_ID VARCHAR(15) NOT NULL UNIQUE,
    ALL_CATEGORIES_TICKET_ID VARCHAR(80) NOT NULL UNIQUE
)

In [ ]:
## FLIGHT DETAILS - TABLE
CREATE TABLE EXPEDIA_TRIP_DETAILS
(
    ORIGIN VARCHAR(400) NOT NULL,
    DESTINATION VARCHAR(400) NOT NULL,
    FLIGHT_CONFIRMATION_ID VARCHAR(15) NOT NULL UNIQUE,
    DEPARTING_DATE DATE NOT NULL,
    RETURNING_DATE DATE,
    TICKET_CATEGORY VARCHAR(10) NOT NULL,
    DEPT_FLIGHT_TYPE VARCHAR(15) NOT NULL,
    DEPT_FIRST_FLIGHT_NO VARCHAR(15) NOT NULL,
    DEPT_SECOND_FLIGHT_NO VARCHAR(15),
    DEPT_THIRD_FLIGHT_NO VARCHAR(15),
    DEPT_TRIP_DURATION_HR DECIMAL(5,2) NOT NULL,
    RTRN_FLIGHT_TYPE VARCHAR(15) NOT NULL,
    RTRN_FIRST_FLIGHT_NO VARCHAR(15),
    RTRN_SECOND_FLIGHT_NO VARCHAR(15),
    RTRN_THIRD_FLIGHT_NO VARCHAR(15),
    RTRN_TRIP_DURATION_HR DECIMAL(5,2) NOT NULL
)

In [ ]:
## HOST DATA - TABLE
CREATE TABLE HOST_INFO
(
    HOST_ID_NO VARCHAR(30) NOT NULL UNIQUE,
    HOST_FIRST_NAME VARCHAR(80) NOT NULL,
    HOST_LAST_NAME VARCHAR(150) NOT NULL,
    HOST_NM VARCHAR(230) NOT NULL,
    LISTING_NAME VARCHAR(230) NOT NULL UNIQUE,
    LISTING_TYPE VARCHAR(80) NOT NULL,
    HOST_LOCATION_ID VARCHAR(30) NOT NULL UNIQUE,
    H_ADDRESS VARCHAR(400) NOT NULL UNIQUE,
    H_CITY VARCHAR(100) NOT NULL,
    H_STATE VARCHAR(100) NOT NULL,
    ZIP_CODE VARCHAR(10) NOT NULL,
    COUNTRY VARCHAR(100) NOT NULL
)

In [ ]:
## AIRBNB GUEST REVIEW DATA - TABLE
CREATE TABLE REVIEWS
(
    REVIEWER VARCHAR(230),
    RATING INT,
    AIR_CONFIRMATION_ID VARCHAR(30) NOT NULL UNIQUE
)

In [ ]:
## USER ACCOUNT DATA OR USER REGISTRATION INFO. - TABLE
CREATE TABLE USER_ACCOUNT
(
    USER_NM VARCHAR(150) NOT NULL UNIQUE,
    FIRST_NAME VARCHAR(80) NOT NULL,
    LAST_NAME VARCHAR(150) NOT NULL,
    FIRST_LAST_NAME VARCHAR(230) NOT NULL,
    USR_ID VARCHAR(30) NOT NULL UNIQUE,
    USER_ADDRESS VARCHAR(400) NOT NULL,
    USER_CITY VARCHAR(100) NOT NULL,
    USER_STATE VARCHAR(100) NOT NULL,
    USER_COUNTRY VARCHAR(100) NOT NULL,
    USER_ZIP_CODE VARCHAR(10) NOT NULL,
    USER_EMAIL VARCHAR(200) NOT NULL UNIQUE,
    USER_BDAY DATE NOT NULL,
    USER_PHONE VARCHAR(100),
    USER_NATIONALITY VARCHAR(100) NOT NULL,
    USER_PASSPORT_NO VARCHAR(70) NOT NULL UNIQUE
)

In [ ]:
## USER RECORD DATA - TABLE
CREATE TABLE USER_RECORDS
(
    ORDER_NO INT NOT NULL PRIMARY KEY,
    USR_ID VARCHAR(30) NOT NULL,
    TRANSACTION_DATE DATE NOT NULL,
    TRANSACTION_ID VARCHAR(120) NOT NULL UNIQUE,
    BOOKING_ID VARCHAR(30) NOT NULL UNIQUE
);

## 3. Research Queries

In [ ]:
## QUERY OBJECTIVE: OBSERVATION
''' 
1) Who are the users that opened an account but have not 
booked any flights or reserved any Airbnb listing through 
the “AEApp”?'''

SELECT 
    UA.USER_ID, 
    UA.FIRST_LAST_NAME, 
    UR.TRANSACTION_DATE, 
    UR.TRANSACTION_ID 
FROM 
    USER_ACCOUNT UA
FULL OUTER JOIN USER_RECORDS UR
    ON UA.USER_ID = UR.USER_ID
FULL OUTER JOIN CARD_DETAILS CD
    ON UA.USER_ID = CD.USER_ID
WHERE UR.TRANSACTION_DATE IS NULL AND UR.TRANSACTION_DATE IS NULL
;

<img src="Extra/PPT_PICTURES/Q1.png" width=60% height=60%>

In [ ]:
## QUERY OBJECTIVE: RECORD LOOKUP
'''
2) What is the booking id, credit/debit card number and 
transaction identifier linked to order number 95?'''

SELECT 
   CD.CARD_NO,
   UR.ORDER_NO,
   B.BOOKING_ID,
   UR.TRANSACTION_ID
FROM 
    BOOKINGS B 
JOIN USER_RECORDS UR
    ON UR.BOOKING_ID = B.BOOKING_ID
JOIN CARD_DETAILS CD 
    ON CD.USER_ID = UR.USER_ID
WHERE UR.ORDER_NO < 96 AND UR.ORDER_NO > 94
;

<img src="Extra/PPT_PICTURES/Q2.png" width=80% height=80%>

In [ ]:
## QUERY OBJECTIVE: DATE RANGE & FILTERING
'''
3)  Who are the users (account holders) and their respective 
phone numbers linked to every, and linked to every purchase or 
transaction that occurred after April 20, 2016?'''

SELECT 
    UA.FIRST_LAST_NAME,
    UA.USER_ID,
    UA.USER_PHONE 
FROM 
    USER_ACCOUNT UA
INNER JOIN EXPEDIA_PASSENGER_DATA EPD 
    ON EPD.PASSENGER_NAME = UA.FIRST_LAST_NAME
INNER JOIN USER_RECORDS UR 
    ON UR.USER_ID = UA.USER_ID 
WHERE UR.TRANSACTION_DATE > '4/20/2016'
;

<img src="Extra/PPT_PICTURES/Q3.png" width=60% height=60%>

In [ ]:
## QUERY OBJECTIVE: NUMERICAL - AVERAGE
'''
4) What is the average overall rating for every Airbnb listing 
in each city within the United States?'''

SELECT 
    ROUND(AVG(ABD.RATING_OVERALL),2) AS AVG_RATING_X_CITY,
    HI.CITY
FROM 
    AIRBNB_BOOKING_DATA ABD
JOIN 
    HOST_INFO HI
    ON HI.HOST_LOCATION_ID = ABD.HOST_LOCATION_ID
WHERE
    HI.COUNTRY LIKE '%UNITED STATES%'
GROUP BY 
    HI.CITY
ORDER BY 
    AVG_RATING_X_CITY DESC
;

<img src="Extra/PPT_PICTURES/Q4.png" width=35% height=35%>

In [ ]:
## QUERY OBJECTIVE: NUMERICAL - PERCENTAGE
'''
5) What is the percentage of guests per category (adults, minors and children) in 
each Airbnb reservation (AIR_CONFIRMATION_ID)? What are the host names and arrival 
dates linked to every reservation?'''

SELECT 
    HI.HOST_NAME, 
    ARD.AIR_CONFIRMATION_ID,
    ARD.START_DATE,
    ARD.END_DATE, 
    FORMAT(ROUND(SUM(ARD.GUEST_ADULT_NO) * 100.0 / SUM(ABD.TOTAL_GUESTS),3),'0.0#') AS GUEST_ADULT_PERCENT,
    FORMAT(ROUND(SUM(ARD.GUEST_CHILDREN_NO) * 100.0 / SUM(ABD.TOTAL_GUESTS),3),'0.0#') AS GUEST_CHILDREN_PERCENT,
    FORMAT(ROUND(SUM(ARD.GUEST_INFANT_NO) *100.0 / SUM(ABD.TOTAL_GUESTS),3),'0.0#') AS GUEST_INFANT_PERCENT 
FROM 
    AIRBNB_RESERVATION_DETAILS ARD
    JOIN 
        AIRBNB_BOOKING_DATA ABD
        ON ABD.AIR_CONFIRMATION_ID = ARD.AIR_CONFIRMATION_ID 
    JOIN 
        HOST_INFO HI
        ON HI.HOST_ID = ABD.HOST_ID 
WHERE 
    ARD.START_DATE > '12/31/2018' AND ARD.START_DATE < '1/1/2020'
GROUP BY 
    ARD.AIR_CONFIRMATION_ID, HI.HOST_NAME, ARD.START_DATE, ARD.END_DATE
ORDER BY 
    HI.HOST_NAME ASC;

<img src="Extra/PPT_PICTURES/Q5.png" width=90% height=90%>

In [ ]:
## QUERY OBJECTIVE: NUMERICAL SUM
'''
6) What is the sum of every flight passenger to every flight confirmation id?'''

SELECT 
    EPT.FLIGHT_CONFIRMATION_ID, 
    COUNT(EPT.FLIGHT_CONFIRMATION_ID) AS PASSENGER_COUNT 
FROM 
    EXPEDIA_PASSENGER_TICKETS EPT
GROUP BY EPT.FLIGHT_CONFIRMATION_ID

UNION ALL

SELECT 
    'SUM' FLIGHT_CONFIRMATION_ID, 
    COUNT(FLIGHT_CONFIRMATION_ID) 
FROM 
    EXPEDIA_PASSENGER_TICKETS
;

<img src="Extra/PPT_PICTURES/Q6.png" width=35% height=35%>

In [ ]:
## QUERY OBJECTIVE: TRENDS & PATTERNS
'''
7) What are the longest round-trips and nonstop flights that have been booked?'''

SELECT 
    FLIGHT_CONFIRMATION_ID, 
    DEPT_FIRST_FLIGHT_NO,
    DEPT_TRIP_DURATION_HR,
    RTRN_FIRST_FLIGHT_NO,
    RTRN_TRIP_DURATION_HR,
    FORMAT(SUM(DEPT_TRIP_DURATION_HR) + SUM(RTRN_TRIP_DURATION_HR),'0.0#') AS TOTAL_TRIP_DURATION

FROM 
    EXPEDIA_TRIP_DETAILS
WHERE 
    RTRN_FLIGHT_TYPE != 'NA' AND RTRN_FLIGHT_TYPE != 'LAYOVER'
GROUP BY 
    FLIGHT_CONFIRMATION_ID, 
    DEPT_FIRST_FLIGHT_NO, 
    RTRN_FIRST_FLIGHT_NO, 
    DEPT_TRIP_DURATION_HR, 
    RTRN_TRIP_DURATION_HR
HAVING
    COUNT(DEPT_FIRST_FLIGHT_NO) = 1 AND COUNT(DEPT_SECOND_FLIGHT_NO) = 0 AND COUNT(DEPT_THIRD_FLIGHT_NO) = 0
ORDER BY RTRN_TRIP_DURATION_HR DESC
;

<img src="Extra/PPT_PICTURES/Q7.png" width=95% height=95%>